

@media only screen and (min-width: 601px) {

    .top_navbar {
        box-shadow: 0 0 50px gray !important;
    }

    #top_actions_section {
        display: flex;
        align-items: center;
    }
}

.users_list_item.active .users_list_arrow_icon {
    transform: rotate(180deg);
}

.users_list_item.active > *{
    background-color: rgba(190,190,190,.3) !important;
}

/* .container {
    width: 100%;
} */

.add_user_modal_back {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 10;
}

.add_user_modal {
    position: fixed;
    height: 70vh;
    bottom: -70vh;
    background-color: white;
    z-index: 11;
    left: 0;
    right: 0;
}

.add_user_modal.show {
    bottom: 0;
    box-shadow: 0 0 10px darkblue;
}

.sidenav_link_icon {
    margin: 0 0 0 15px !important;
}

.user_list_section {
    height: calc(100vh - 260px);
    overflow: auto;
}

.page_number {
    border: 2px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}